CHAIN_ID=8700
RPC_URL="https://auto-evm.chronos.autonomys.xyz/ws"
# Private key of account that owns or will own the minting contract
PRIVATE_KEY=""
# Contract address used when granting and revoking minter role
CONTRACT_ADDRESS="0xCBD609f1CE467e149359475aa2f28daC6B75170d"
# Verification explorer URL
VERIFIER_URL="https://explorer.auto-evm.chronos.autonomys.xyz/api"